<app-header 
	[filterByDay]="filterByDay"
	(dayBy)="onChangeDay($event)">
</app-header>

<div class="wrapper relative">
	<div 
		class="dashboard-content flex-row flex-wrap" 
		*ngIf="preloader; else preloaderBlock">
		<div *ngFor="let item of config; trackBy: trackByFn" class="chart">
			<app-chart 
				[config]="item"
				[data]="data"
				[dayBy]="filterByDay"
				(changedType)="onChange($event)"
				(onAddSeries)="onAddSeries($event)">
			</app-chart>
		</div>
	</div>
</div>

<ng-template #preloaderBlock>
	<app-preloader></app-preloader>
</ng-template>