.app-content-wrap {
	position: relative;
	width: 100%;
}

.app-content {
	width: 100%;
	padding-top: 50px;
}

.header-top {
	width: 100%;
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	z-index: 999;
}
